body {
    background-image: url('../Image/Wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

form {
    height: 100vh; 
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}



.image_elso {
    border: none;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 15px;
    left: 350px;
}

.image_masodik {
    border: none;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 120px;
    left: 350px;
}

.image_harmadik {
    border: none;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 250px;
    left: 350px;
}
.image_negyedik {
    border: none;
    position: absolute;
    width: 90px;
    height: 90px;
    top: 410px;
    left: 350px;
}



.button_elso {
    background-color: transparent;
    font-size: 20px;
    width: 450px;
    height: 50px;
    border:none;
    top:30px;
    position:relative;
    left:800px;
}
.button_elso:hover{
    background-color:Highlight;
}

.button_masodik {
    background-color: transparent;
    font-size: 20px;
    width: 450px;
    height: 50px;
    border: none;
    top: 150px;
    position: relative;
    left: 350px;
}
.button_masodik:hover{
    background-color: Highlight;
}

.button_harmadik {
    background-color: transparent;
    font-size: 20px;
    width: 450px;
    height: 50px;
    border: none;
    top: 280px;
    position: relative;
    left: -102px;
}
.button_harmadik:hover{
    background-color: Highlight;
}

.button_negyedik {
    background-color: transparent;
    font-size: 20px;
    width: 450px;
    height: 50px;
    border: none;
    top: 390px;
    position: relative;
    left: 1050px;
}

.button_negyedik:hover {
    background-color: Highlight;
}

.button_ötödik {
    background-color: transparent;
    font-size: 20px;
    width: 240px;
    height: 50px;
    border: none;
    top: 10px;
    position: relative;
    left: 1700px;
}

.button_ötödik:hover {
    background-color: Highlight;
}