/* Háttér */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../Image/Wallpaper.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-position: center;
    height: 100vh;
}

/* Központi konténer */
.login-container {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

    /* Űrlap elemek */
    .login-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 107%;
        padding: 10px;
        margin: 8px 0 16px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .login-container input[type="submit"] {
        width: 114%;
        padding: 10px;
        background-color: #007bff;
        border: none;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .login-container input[type="submit"]:hover {
            background-color: #0056b3;
        }
